* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.logo {
  width: 150px;
  background-color: rgb(35, 35, 35);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 3px solid rgb(5, 5, 5);
  padding-top: 4.75rem;
}

.nav-container {
  display: flex;

}

.item1 {
  width: 860px;
  height: 100px;
  border: 3px solid rgb(5, 5, 5);
  display: flex;
  padding-left: 100px;
  align-items: center;
  box-shadow: inset 1px 1px 12px 5px #000000;
  background-color: rgb(35, 35, 35);

}

.item2 {
  width: 500px;
  border: 4px solid rgb(5, 5, 5);
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-inline: 3.5rem;

}

.nav-container-container {
  display: flex;
  position: fixed;
  border: 3px solid rgb(5, 5, 5);
  width: 100%;
  z-index: 1000;

}

.nav-list li {
  padding-block: 1rem;
}

.nav-list a {

  margin-inline: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style:wavy;
  text-decoration-color: rgb(48, 169, 230);
  text-underline-offset: 6px;

}

.item3 {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 175, 175);
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 250px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/motion.jpg");
  background-size: cover;
}

.item5 {
  grid-column-start: 2;
  grid-column-end: 6;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: inset 0 8px 20px #080808;
  background-color: rgb(251, 208, 215);
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: none;
}

.reject1 {
  text-align: center;
}

.reject1,
.reject3,
.reject5 {
  font-size: 18px;
  background: none;
  font-weight: bold;
  color: rgb(38, 48, 83);
}

.reject2 {
  padding-left: 4px;
}
.reject3 {
  padding-left: 10px;
  text-align: center;
}

.reject2,
.reject4,
.reject6 {
  font-size: 12px;
  background: none;
  font-weight: bold;
}
.reject4 {
  padding-left: 4px;
}

.reject6 {
  text-align: center;
}

.item6,
.item7,
.item20 {
  height: 15px;
  grid-column-start: 1;
  grid-column-end: 6;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 8px 10px #080808;
  overflow-y: hidden;
}

.ransom {
  background: none;
  height: 300px;
  margin-left: 250px;
}

.rejects {
  height: 235px;
  width: 110%;
  overflow-y: hidden;
  scrollbar-width: none;
  border: 3px solid rgb(4, 4, 4);
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 3px solid rgb(4, 4, 4);
  padding-block: 5rem;
}

.divider {
  display: flex;
  border: 3px solid rgb(2, 2, 2);
}

.item8,
.item20 {
  height: 15px;
  width: 100%;
  background: black;
}

.item9 {
  height: 100px;
  width: 80%;
  border: 1px solid black;
  box-shadow: inset 0 8px 20px #080808;
  background-color: rgb(141, 178, 220);
}


.item10 {
  width: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.slide2 {
  box-shadow: 0 -4px 12px -1px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 2rem;
  margin-bottom: 5px;
  width: 100%;
  max-width: 350px;
  
}


/* .item11,
.item12,
.item13,
.item14,
.item15,
.item16,
.item17,
.item18,
.item19 {

} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item11 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item11 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item11 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item11 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item11 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item11 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}

.item11 .card .slide.slide2::after,
.item12 .card .slide.slide2::after,
.item13 .card .slide.slide2::after,
.item14 .card .slide.slide2::after,
.item15 .card .slide.slide2::after,
.item16 .card .slide.slide2::after,
.item17 .card .slide.slide2::after,
.item18 .card .slide.slide2::after,
.item19 .card .slide.slide2::after {

  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #000000;

}

.item11 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item11 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}

.item12 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item12 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item12 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item12 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item12 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item12 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item12 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item12 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}


.item13 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item13 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item13 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item13 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item13 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item13 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item13 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item13 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}

.item14 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item14 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item14 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item14 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item14 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item14 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item14 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item14 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}

.item15 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item15 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item15 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item15 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item15 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item15 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item15 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item15 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}


.item16 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item16 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item16 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item16 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item16 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item16 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item16 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item16 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}


.item17 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item17 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item17 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item17 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item17 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item17 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item17 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item17 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}


.item18 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item18 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item18 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item18 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item18 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);



}

.item18 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item18 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item18 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}


.item19 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 5px solid gray;



}


.item19 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;


}

.item19 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);
}

.item19 .card:hover .slide.slide1 {

  transform: skewX(0deg);

}

.item19 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);


}

.item19 .card:hover .slide.slide2 {

  transform: skewX(0deg);


}



.item19 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.item19 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

}

@media (max-width: 768px) {
  .nav-container-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    border: 5px solid black;
  }

  .nav-container {
    width: 100%;
  }

  .item1 {
    width: 70%;
    padding: 10px;
  }

  .item2 {
    width: 30%;
    justify-content: center;
    position: relative;
  }

  .item2 .hamburger {
    display: block;
    color: black;

  }

  .item2 .hamburger:hover {
    scale: 1.1;
    color: rgb(31, 169, 164);
  }


  .nav-content {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 95px;
    right: -4px;
    z-index: 1000;
    width: 338px;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .nav-content.open {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
    visibility: visible;
    box-shadow: inset 0 5px 10px 0 #080808;
  }


  .ransom {
    height: 120px;
    margin-right: 160px;
  }

  .rejects {
    padding-inline: .5rem;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .nav-list li {
    padding: 0.5rem 0;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;

  }

  .item11,
  .item12,
  .item13,
  .item14,
  .item15,
  .item16,
  .item17,
  .item18,
  .item19 {
    display: flex;
    justify-content: center;
  }
  .item11 .card,
  .item12 .card,
  .item13 .card,
  .item14 .card,
  .item15 .card,
  .item16 .card,
  .item17 .card,
  .item18 .card,
  .item19 .card {
    padding: 0;
    margin: 0;


  }

  .ransom {
    margin: 20px;

    padding-left: 60px;

    scale: 1.2;
    
  }
}